<div class="formContainer" >
    <img class="image" src="assets/reset_password.svg">
    <div class="formWrapper">
        <span class="tittle">Reset Password</span>
        <form class="ap">
            <label for="password-field">Enter Old Password</label>
            <input type="text" id="password-field" placeholder="**********"/>
            <a routerLink="forget-pass">Forgot password?</a>
            <label for="password-field">Enter New Password</label>
            <input type="text" id="password-field" placeholder="**********"/>
            <label for="password-field">Confirm New Password</label>
            <input type="password" id="password-field" placeholder="**********"/>
        </form>
        <button (click)="resetPassword()">Done</button>
    </div>
</div>
