.formContainer{
    background: linear-gradient(to bottom, #f3c0a1 , #fcefe4f7);
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}
.tittle{
    font-size:3ch;
    font-weight: 800;
}
.formWrapper{
    /* padding-top: 20px; */
    padding-bottom: 12px;
    background-color: #ffb88c;
    height: fit-content;
    width: 280px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-right: 100px;
}
.ap{
    /* padding-top: 20px; */
    font-size: 13px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 80%;
}
input{
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-bottom: 6px;
}
input:focus{
    outline: none;
}
select{
    padding: 15px;
    border: none;
    border-radius: 5px;
}
.logo{
    padding-top: 20px;
    height: 90px;
}
button{
    background-color: hsl(20, 85%, 54%) ;
    border: none;
    color: white;
    padding: 6px;
    font-weight: 700;
    border-radius: 10px;
    width: 60%;
    margin: 10px;
}
button:hover{
    background-color: hsla(20, 97%, 63%, 0.979) ;
}
.image{
    height: 96%;
    padding: 20px 30px 0px 80px
}
