<div class="food-details-container">
    <div class="div-container">
        <div class="Food-card event-card">
            <div class="card-body">
                <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="" id="info-img">
                <p class="tagging-type A">Available</p>
                <h5 class="card-title name">Taksh Restaurant </h5>
                <!-- <h5 class="qty"> </h5> -->
                <h5 class="placeName" style="font-weight: 100; color: rgb(77, 75, 75);">Place : Jabalpur, Bye-pass road 483124</h5>
                <h5 class="contact-number" style="font-weight: 200;">Mobile Number : 8829******</h5>
                <button class="book-now">
                    Book Now    
                </button>
            </div>
        </div>
        <!-- More Card To be added  -->
        <div class="Food-card event-card">
            <div class="card-body">
                <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="" id="info-img">
                <p class="tagging-type">Available</p>
                <h5 class="card-title name">Taksh Restaurant </h5>
                <!-- <h5 class="qty"> </h5> -->
                <h5 class="placeName" style="font-weight: 100; color: rgb(77, 75, 75);">Place : Jabalpur, Bye-pass road 483124</h5>
                <h5 class="contact-number" style="font-weight: 200;">Mobile Number : 8829******</h5>
                <button class="book-now">
                    Book Now    
                </button>
            </div>
        </div> <div class="Food-card event-card">
            <div class="card-body">
                <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="" id="info-img">
                <p class="tagging type NA">Not Available</p>
                <h5 class="card-title name">Taksh Restaurant </h5>
                <!-- <h5 class="qty"> </h5> -->
                <h5 class="placeName" style="font-weight: 100; color: rgb(77, 75, 75);">Place : Jabalpur, Bye-pass road 483124</h5>
                <h5 class="contact-number" style="font-weight: 200;">Mobile Number : 8829******</h5>
                <button class="book-now">
                    Book Now    
                </button>
            </div>
        </div>
        <div class="Food-card event-card">
            <div class="card-body">
                <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="" id="info-img">
                <p class="tagging-type">Available</p>
                <h5 class="card-title name">Taksh Restaurant </h5>
                <!-- <h5 class="qty"> </h5> -->
                <h5 class="placeName" style="font-weight: 100; color: rgb(77, 75, 75);">Place : Jabalpur, Bye-pass road 483124</h5>
                <h5 class="contact-number" style="font-weight: 200;">Mobile Number : 8829******</h5>
                <button class="book-now">
                    Book Now    
                </button>
            </div>
        </div> 
        <div class="Food-card event-card">
            <div class="card-body">
                <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="" id="info-img">
                <p class="tagging-type NA">Not Available</p>
                <h5 class="card-title name">Taksh Restaurant </h5>
                <!-- <h5 class="qty"> </h5> -->
                <h5 class="placeName" style="font-weight: 100; color: rgb(77, 75, 75);">Place : Jabalpur, Bye-pass road 483124</h5>
                <h5 class="contact-number" style="font-weight: 200;">Mobile Number : 8829******</h5>
                <button class="book-now">
                    Book Now    
                </button>
            </div>
        </div> 
        <div class="Food-card event-card">
            <div class="card-body">
                <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="" id="info-img">
                <p class="tagging-type" *ngIf="">Available</p>
                <h5 class="card-title name">Taksh Restaurant </h5>
                <!-- <h5 class="qty"> </h5> -->
                <h5 class="placeName" style="font-weight: 100; color: rgb(77, 75, 75);">Place : Jabalpur, Bye-pass road 483124</h5>
                <h5 class="contact-number" style="font-weight: 200;">Mobile Number : 8829******</h5>
                <button class="book-now">
                    Book Now    
                </button>
            </div>
        </div>
    </div>
</div>