.formContainer{
    background: linear-gradient(to bottom, #f3c0a1 , #fcefe4f7);
    height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}
.tittle{
    font-size:3ch;
    font-weight: 800;
}
.formWrapper{

    padding-bottom: 10px;
    background-color: #ffb88c;
    height: fit-content;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    margin-right: 140px;
}
.ap{
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 80%;
}
input{
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-bottom: 6px;
}
input:focus{
    outline: none;
}
label{
    margin-bottom: -4px;
}
select{
    padding: 7px;
    border: none;
    border-radius: 5px;
}
select:focus{
    outline: none;
}
.logo{
    height: 90px;
    padding-top: 20px;
}
button{
    background-color: hsl(20, 85%, 54%) ;
    border: none;
    color: white;
    padding: 6px;
    font-weight: 700;
    border-radius: 10px;
    width: 60%;
}
button:hover{
    background-color: hsla(20, 97%, 63%, 0.979) ;
}
.image{
    height: 550px;
    width: 55vw;
}
p{
    font-size: 13px;
    margin: 8px;
}
a{
    text-decoration: none;
}