<!-- <p>main-dashboard works!</p> -->
<div class="right-container">
    <nav id="user-info">
        <ul class="nav-items">
            <li class="nav-item">
                <strong class="welcome-Msg sp-x">Welcome To Dashboard,</strong>
            </li>
            <li class="nav-item">
                <span class="user-name">$User_Name</span>
            </li>
        </ul>
        <div class="right-elements">
            <div class="nav-item user-img">
                <img src="assets/User-Profile-PNG-File.png" width="50px" alt="UserImage">
            </div>
            <div class="profile">
                <button class="btn-down-drawer">
                    <img src="/assets/downarrow.png" width="20px" alt="UserImage">
                </button>

                <div class="drawer">
                    <a href="#">Edit Profile</a>
                    <a (click)=confirmBox()>Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- <div class="prev-records"> -->
    <ul class="box-info">
        <li class="list-info">
            <i class="fa fa-gift" aria-hidden="true"></i>
            <span class="text" id="info">
                <h3>2</h3>
                <p>Your Contribution</p>
            </span>
        </li>
        <li class="list-info">
            <i class="fa fa-check" aria-hidden="true"></i>
            <span class="text">
                <h3>102</h3>
                <p>New Orders</p>
            </span>
        </li>
        <li class="list-info">
            <i class="fa fa-group"></i>
            <span class="text">
                <h3>10+</h3>
                <p>NGO near you ...</p>
            </span>
        </li>
    </ul>
    <!-- </div> -->
    <div class="container">


        <div class="book-add-food-main">

            <app-search></app-search>
        </div>
        <div class="book-add-food">

        </div>
    </div>

</div>