*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.9;
}
.row{
    display: flex;
    flex-wrap: wrap;
  
}
.container{
    max-width: 1170px;
    background-color: rgba(0, 0, 0);
    opacity: 0.8;
    margin:auto;;
    /* margin-left: 12px; */
}
ul{
    list-style: none;
}

/* css for footer */
.footer{
    /* background-color: #24262b; */
    background-image: linear-gradient(to top, #f3c0a1 2% , transparent 20%);

    padding: 0 0 0 0;
}
.footer-col{
    width: 19%;
    padding: 0 15px;
    margin-left: 2px;
}
.footer-col h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #eb6019;
    box-sizing: border-box;
    width: 60px;
}
.footer-col h4::before:hover{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #eb6019;
    box-sizing: border-box;
    width: 100px;
    transition: 0.2s;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 8px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    margin-bottom: 2px;
    font-weight: 200;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #eb6019;
    padding: 0px 2px;
    transition: 0.13s;
}
.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(159, 159, 159, 0.3);
    margin: 0 10px 10px 0;
    line-height: 1.4;
    text-align: center;
    border-radius: 50%;
    color: white;

}

.footer-col .social-links a:hover{
    background-color: aliceblue;
    color: #eb6019;
}

/* Media  queries */

@media (max-width: 1000px) {
    .footer-col {
        width: 30%;
        margin-bottom: 30px;
    }
   
}

@media (max-width: 600px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
   
}