<nav class="left-nav">
    <ul class="nav-items">
        <li class="nav-item" routerLinkActive="active">
            <a class="side-nav-links" routerLink="homepage">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
             <a class="side-nav-links" routerLink="user-profile">Profile </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="side-nav-links" routerLink="main-dashboard">Dashboard </a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="side-nav-links" routerLink="reset-password">Reset Password </a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="side-nav-links" routerLink="help-support">Help & Support </a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="side-nav-links" (click)="confirmBox()">Logout </a>
        </li>
        <span id="version">version 1.0.008</span>
    </ul>
    
</nav>