<!-- <p>user-profile works!</p> -->
<div class="profile-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Profile</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/user-dashboard/main-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Profile</li>
        </ul>
      </div>
    </div>

    <!-- Div With Details -->

    <div class="main">
      <div class="profile-data">
        <aside>
          <div class="profile-main-data">
            <!-- <p class="img-description">Change Image</p> -->
            
            <img src="assets/User-Profile-PNG-File.png" alt="user" />
            <div class="profile-details">
              <p class="user-name">{{ userName }}</p>
              <p class="user-designation">{{ userDesignation }}</p>
              <div class="profile-action">
                <a href="#"
                  ><i class="fa fa-twitter" style="color: #1da1f2"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-facebook" style="color: #1877f2"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-envelope" style="color: crimson"></i
                ></a>
              </div>
            

              <div class="btn update-btn">
                <a href="#"><button>Update Profile</button></a>
              </div>
              <p *ngSwitch="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                excepturi alias hic.
              </p>
            </div>
          </div>
        </aside>
        <aside>
          <div class="profile-secondary-data">
            <ul class="personal-info">
              <li>
                <span class="title">Phone:</span>
                <span class="text"><a href="">9876543210</a></span>
              </li>
              <li>
                <span class="title">Email:</span>
                <span class="text"><a href="">Tript@example.com</a></span>
              </li>
              <li>
                <span class="title">UserType:</span>
                <span class="text">NGO</span>
              </li>
              <li>
                <span class="title">User-ID:</span>
                <span class="text" style="color: grey"
                  ><a href="">************3123</a></span>
              </li>
              <li>
                <span class="title">Address:</span>
                <span class="text">57 Airport Rd, ABC, 86020</span>
              </li>
              <li>
                <span class="title">Gender:</span>
                <span class="text">Male</span>
              </li>
              <li>
                <i class="fa fa-link" style="color: #EB6019;">
                <input
                  type="file"
                  class="file-upload"
                  id="uploadImage"
                  onload="showImageName(this)"
                />
              </i>
                <!-- <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload> -->

                <!-- <div class="file-upload"> -->

                <!-- {{fileName || "No file uploaded yet."}} -->
                <!-- 
    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()"> -->
                <!-- <i class="fa fa-link" aria-hidden="true"> attach file</i> -->
                <!-- </button> -->
                <!-- </div> -->
              </li>
            </ul>
          </div>
        </aside>
        <aside>
          <div class="edit-icon">
            <a><i class="fa fa-edit"></i></a>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
