.container {
    background-image: linear-gradient(to bottom, #f3c0a1 , #fdebdbf7, white);
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
}
/* @media (maxscreen:1500px){

}
 */
 
@media (max-width: 1660px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
}
}

#side-navbar{
    display: block;
    width:230px;
    height: 100vh;
    position: fixed;
    background-color: #F4F2F0;
    left: 0;
    /* border: 3px solid#EB6019; */
}
#content{
    background-image: linear-gradient(to bottom, #f3c0a1 , #fdebdbf7, white);
    padding-left: 60px;
    margin-left: 178px;
    width: 1800rem;
}

/* #content[_ngcontent-nwm-c21] {
    background-image: linear-gradient(to bottom, #f3c0a1 , #fdebdbf7, white);
    padding: 18px;
    margin-left: 166px;
    /* width: -moz-fit-content; */