<div class="AboutUs">
    <div class="flexbox">
        <div class="Content">
            <h1>About Us</h1>
            <p>Foodbridge is a non-profit organization committed to reducing food waste and
                 ensuring that surplus food from restaurants and hotels reaches those in need. 
                 With a team of four dedicated students from Jabalpur Engineering College
                  working on a prototype of their website and mobile application,  We are looking
                   for volunteers to help us with our project. 
                If you are interested in helping us, please contact us actively.
            </p>
        </div>
        <div class="image">
            <img src="assets/team.png" alt="team">
        </div>
    </div>
</div>